<div class="whole_page container">
  <h3>作品情報を編集する</small>
    <span class="btn cancel_editing"><%= link_to '編集を破棄する', @movie, data: { confirm: "Are you sure?"} %></span>
  </h3>

  <%= render 'form', movie: @movie, submit_btn: @submit_btn %>


</div>
