<div class="page_title container-fluid">
  <h1>全作品一覧</h1>
</div>

<div class="whole_page container">
  <div class="row text-center text-lg-left">

  <% @movies.each do |movie| %>
    <%= render 'movies/display_titles', movie: movie %>
  <% end %>

  </div>
</div>
