<div class="page_title container-fluid">
  <h1><%= current_user.name %>さんがレビューした作品</h1>
</div>

<div class="whole_page container">
  <div class="row text-center text-lg-left">
  <% @reviews.each do |review| %>
    <% movie = review.movie %>
    <%= render 'movies/display_titles', movie: movie %>
  <% end %>
  </div>
</div>
