<div class="created_filling_phrase">
  <textarea placeholder="英語でフレーズを入力" class="phrase_form" name="review[phrases_attributes][<%= phrases_count %>][content]" id="review_phrases_attributes_<%= phrases_count %>_content" required></textarea>
  <div class="btn" id="created_cancel_btn" style="display: inline-block">
    キャンセル
  </div>
</div>
