.btn-imdb {
  color: #000;
  background-color: #F6D74C;
  border-color: #E4BF54;

  &:hover {
    background-color: #E4BF54;
    border-color: #E4BF54;
  }
}

.movie_detail.container-fluid {
    padding: 0px 50px 15px 50px;
    background: #fff;
    border-bottom: solid #EEEEEE;
}

.timeline_title.container-fluid {
  background-color: #fff;
  border-bottom: solid 1px #EEEEEE;
  margin-bottom: 30px;

  h1 {
    text-align: center;
  }

}
