<div class="container">
  <h1>Editing Review</h1>

  <%= render 'form', review: @review, movie: @movie, phrase: @phrase %>

  <%= link_to 'Show', @review %> |
  <%= link_to 'Back', reviews_path %>
</div>
