
  <!-- Page Heading -->
    <div class="page_title container-fluid">
      <h1>Timeline</h1>
    </div>

    <div class="whole_page container">
      <% @reviews.each do |review| %>
        <% movie = review.movie %>

        <%= render 'reviews/one_review', review: review, movie: movie %>

      <% end %>
    </div>
  <!-- /.container -->
