<a data-remote="true" rel="nofollow" data-method="delete" href="/reviews/<%= review.id %>/rlikes/<%= like.id %>" data-comment="<%= review.id %>">
  <i class="fa fa-heart fa-fw fa-lg fa-pink" aria-hidden="true"></i>いいね！&nbsp;
</a><%= count %>件
