<!-- 変数 review -->
<a data-remote="true" rel="nofollow" data-method="post" href="/reviews/<%= review.id %>/rlikes?user_id=<%= current_user.id %>" data-comment="<%= review.id %>">
  <i class="fa fa-heart-o fa-fw fa-lg" aria-hidden="true"></i>いいね！&nbsp;
</a><%= count %>件
